In [1]:
import openml

In [2]:
# List all datasets and their properties
openml.datasets.list_datasets(output_format="dataframe")

,did,name,version,uploader,status,format,MajorityClassSize,MaxNominalAttDistinctValues,MinorityClassSize,NumberOfClasses,NumberOfFeatures,NumberOfInstances,NumberOfInstancesWithMissingValues,NumberOfMissingValues,NumberOfNumericFeatures,NumberOfSymbolicFeatures
2,2,anneal,1,1,active,ARFF,684.0,7.0,8.0,5.0,39.0,898.0,898.0,22175.0,6.0,33.0
3,3,kr-vs-kp,1,1,active,ARFF,1669.0,3.0,1527.0,2.0,37.0,3196.0,0.0,0.0,0.0,37.0
4,4,labor,1,1,active,ARFF,37.0,3.0,20.0,2.0,17.0,57.0,56.0,326.0,8.0,9.0
5,5,arrhythmia,1,1,active,ARFF,245.0,13.0,2.0,13.0,280.0,452.0,384.0,408.0,206.0,74.0
6,6,letter,1,1,active,ARFF,813.0,26.0,734.0,26.0,17.0,20000.0,0.0,0.0,16.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46346,46346,tiny-imagenet-200,4,42266,active,arff,500.0,NaN,500.0,200.0,3.0,100000.0,0.0,0.0,1.0,0.0
46347,46347,tiniest-imagenet-200,1,42266,active,arff,20.0,NaN,20.0,200.0,2.0,4000.0,0.0,0.0,0.0,0.0
46348,46348,mxmh,1,45150,active,arff,NaN,NaN,NaN,NaN,33.0,736.0,120.0,129.0,7.0,0.0
46349,46349,Wheat,1,45167,active,arff,NaN,NaN,NaN,NaN,13.0,10642.0,10642.0,10642.0,13.0,0.0
46351,46351,mango_detection_australia,1,45322,active,arff,NaN,NaN,NaN,NaN,12.0,10619.0,0.0,0.0,8.0,0.0

In [3]:
dataset = openml.datasets.get_dataset(61)

In [4]:
dataset

OpenML Dataset
==============
Name.........: iris
Version......: 1
Format.......: ARFF
Upload Date..: 2014-04-06 23:23:39
Licence......: Public
Download URL.: https://api.openml.org/data/v1/download/61/iris.arff
OpenML URL...: https://www.openml.org/d/61
# of features: None

In [5]:
X= dataset.get_data(dataset_format="dataframe")

In [6]:
X[0]

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [7]:
from sklearn import ensemble
from openml import tasks, runs

# List all tasks in a benchmark
benchmark = openml.study.get_suite('OpenML-CC18')
tasks.list_tasks(output_format="dataframe", task_id=benchmark.tasks)

# Return benchmark results
openml.evaluations.list_evaluations(
    function="area_under_roc_curve",
    tasks=benchmark.tasks,
    output_format="dataframe"
)

,run_id,task_id,setup_id,flow_id,flow_name,data_id,data_name,function,upload_time,uploader,uploader_name,value,values,array_data
0,28,3,18,77,weka.LogitBoost_DecisionStump(1),3,kr-vs-kp,area_under_roc_curve,2014-04-06 23:47:04,1,Jan van Rijn,0.977253,None,"[0.977253,0.977253]"
1,78,3,3,58,weka.NaiveBayes(1),3,kr-vs-kp,area_under_roc_curve,2014-04-07 00:03:46,1,Jan van Rijn,0.951281,None,"[0.951281,0.951281]"
2,139,3,2,57,weka.OneR(1),3,kr-vs-kp,area_under_roc_curve,2014-04-07 00:46:29,1,Jan van Rijn,0.666985,None,"[0.666985,0.666985]"
3,217,3,7,62,weka.DecisionStump(1),3,kr-vs-kp,area_under_roc_curve,2014-04-07 01:25:07,1,Jan van Rijn,0.666432,None,"[0.666432,0.666432]"
4,221,3,6,61,weka.REPTree(1),3,kr-vs-kp,area_under_roc_curve,2014-04-07 01:27:12,1,Jan van Rijn,0.997912,None,"[0.997912,0.997912]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,10046421,3,7971068,8815,sklearn.pipeline.Pipeline(columntransformer=sk...,3,kr-vs-kp,area_under_roc_curve,2019-01-24 23:56:55,1,Jan van Rijn,0.996367,None,"[0.996367,0.996367]"
9996,10046459,3,7971107,8815,sklearn.pipeline.Pipeline(columntransformer=sk...,3,kr-vs-kp,area_under_roc_curve,2019-01-24 23:57:03,1,Jan van Rijn,0.997402,None,"[0.997402,0.997402]"
9997,10046499,3,7971148,8815,sklearn.pipeline.Pipeline(columntransformer=sk...,3,kr-vs-kp,area_under_roc_curve,2019-01-24 23:57:16,1,Jan van Rijn,0.997317,None,"[0.997317,0.997317]"
9998,10046616,3,7971269,8815,sklearn.pipeline.Pipeline(columntransformer=sk...,3,kr-vs-kp,area_under_roc_curve,2019-01-24 23:57:48,1,Jan van Rijn,0.996206,None,"[0.996206,0.996206]"
9999,10046743,3,7971399,8815,sklearn.pipeline.Pipeline(columntransformer=sk...,3,kr-vs-kp,area_under_roc_curve,2019-01-24 23:58:16,1,Jan van Rijn,0.996488,None,"[0.996488,0.996488]"